:root{
  --navbar-color: #3d4b68;
  --text-color: #f0f4f5;
  --background-color: #263343;
  --l-background-color: #4f5c6e;
  --accent-color: #9ea56d;
  --body--background-color:#ededed;
  --grey-color:#bcbcbc;
  --d-grey-color:#757575;

  --v-small-size: 3px;
  --small-size:8px;
  --middle-size:15px;
  --big-size:23px;
  --v-big-size:30px;
  --so-big-size:37px;
}

.feed{
  margin-bottom:10%;
  display: flex;
}


/*------------------------------youtube section---------------------------*/
.feed .youtube_web{
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 4px;
  margin-right: 5%;
}

.feed .youtube_web .youtube_web_img{
  background-color: var(--text-color);
  z-index: -5;
}

.feed .youtube_web .youtube_web_img:hover{
  transition : 3s;
  background-color : var(--l-background-color); 
  opacity: 0.5;
}

.feed .youtube_web:hover{
  height: 340px;
  transition : 3s;
  background-color : var(--l-background-color); 
}

.feed .youtube_web .youtube_web_title{
  vertical-align: middle;
  opacity: 0;
  display: flex;
  align-items: center;
  position: absolute;
	top: 25%;
	left: 50%;
	transform: translate( -50%, -50% );
  border-bottom: 1px solid var(--text-color);
  font-size: var(--middle-size);
  font-weight: bold;
}

.feed .youtube_web .youtube_web_subtitle{
  opacity: 0;
  display: flex;
  align-items: center;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
  font-size: var(--middle-size);
}

.feed .youtube_web:hover .youtube_web_title{
  color : var(--text-color); 
  transition : 1s;
  opacity: 0.9;
}

.feed .youtube_web .youtube_web_title:hover {
  display: flex;
  justify-content: center;
  background-color: var(--l-background-color);
  height: 20%;
  width: 80%;
  border-radius: 20px;
  border-bottom: 1px solid var(--l-background-color);
  opacity: 0.9;
}

.feed .youtube_web:hover .youtube_web_subtitle{
  color : var(--text-color); 
  transition : 1s;
  opacity: 1;
}

.feed .youtube_web .youtube_web_subtitle:hover {
  display: flex;
  justify-content: center;
  background-color: var(--l-background-color);
  width: 80%;
  height: 30%;
  border-radius: 20px;
  opacity: 0.9;
}

/*----------------------------------todolist section---------------------------------*/

.feed .todolist_web{
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 4px;
  margin-right: 5%;
}

.feed .todolist_web .todolist_web_img{
  background-color: var(--text-color);
  z-index: -5;
}

.feed .todolist_web .todolist_web_img:hover{
  transition : 3s;
  background-color : var(--l-background-color); 
  opacity: 0.5;
}

.feed .todolist_web:hover{
  height: 340px;
  transition : 3s;
  background-color : var(--l-background-color); 
}

.feed .todolist_web .todolist_web_title{
  vertical-align: middle;
  opacity: 0;
  display: flex;
  align-items: center;
  position: absolute;
	top: 25%;
	left: 50%;
	transform: translate( -50%, -50% );
  border-bottom: 1px solid var(--text-color);
  font-size: var(--middle-size);
  font-weight: bold;
}

.feed .todolist_web .todolist_web_subtitle{
  opacity: 0;
  display: flex;
  align-items: center;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
  font-size: var(--middle-size);
}

.feed .todolist_web:hover .todolist_web_title{
  color : var(--text-color);
  transition : 1s;
  opacity: 0.9;
}

.feed .todolist_web .todolist_web_title:hover {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  background-color: var(--l-background-color);
  height: 20%;
  width: 80%;
  border-radius: 20px;
  border-bottom: 1px solid var(--text-color);
  opacity: 0.9;
}

.feed .todolist_web:hover .todolist_web_subtitle{
  color : var(--text-color);
  font-weight: bolder;
  transition : 1s;
  opacity: 1;
}

.feed .todolist_web .todolist_web_subtitle:hover {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  background-color: var(--l-background-color);
  width: 80%;
  height: 30%;
  border-radius: 20px;
  opacity: 0.9;
}
/*-------------------------------------brushpaint section-----------------------------------------------*/

.feed .painting_web{
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 4px;
  margin-right: 5%;
}

.feed .painting_web .painting_web_img{
  background-color: var(--text-color);
  z-index: -5;
}

.feed .painting_web .painting_web_img:hover{
  transition : 3s;
  background-color : var(--l-background-color); 
  opacity: 0.5;
}

.feed .painting_web:hover{
  height: 340px;
  transition : 3s;
  background-color : var(--l-background-color); 
}

.feed .painting_web .painting_web_title{
  vertical-align: middle;
  opacity: 0;
  display: flex;
  align-items: center;
  position: absolute;
	top: 25%;
	left: 50%;
	transform: translate( -50%, -50% );
  border-bottom: 1px solid var(--text-color);
  font-size: var(--middle-size);
  font-weight: bold;
}

.feed .painting_web .painting_web_subtitle{
  opacity: 0;
  display: flex;
  align-items: center;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
  font-size: var(--middle-size);
}

.feed .painting_web:hover .painting_web_title{
  color : var(--text-color);
  transition : 1s;
  opacity: 0.9;
}

.feed .painting_web .painting_web_title:hover {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  background-color: var(--l-background-color);
  height: 20%;
  width: 80%;
  border-radius: 20px;
  border-bottom: 1px solid var(--text-color);
  opacity: 0.9;
}

.feed .painting_web:hover .painting_web_subtitle{
  color : var(--text-color);
  font-weight: bolder;
  transition : 1s;
  opacity: 1;
}

.feed .painting_web .painting_web_subtitle:hover {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  background-color: var(--l-background-color);
  width: 80%;
  height: 30%;
  border-radius: 20px;
  opacity: 0.9;
}
/*-----------------------------------------media section-----------------------------------*/
@media screen and (max-width: 768px){

  /*----------------------------------youtube section---------------------------------*/
  .feed .youtube_web{
    width: 150px;
    height: 150px;
  }
  
  .feed .youtube_web img{
    width: 150px;
    height: 150px;
  }

  .feed .youtube_web img:hover{
    background-color:var(--l-background-color);
    transition: 3s;
  }
  .feed .youtube_web:hover{
    height: 180px;
  }
  .feed .youtube_web .youtube_web_title{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--middle-size); 
  }
  .feed .youtube_web .youtube_web_title:hover{
    width: 100%;
    border-bottom: 0;
  }
  
  .feed .youtube_web .youtube_web_title:hover img{
    background-color: var(--l-background-color);
  }
  .feed .youtube_web .youtube_web_subtitle{
    display: none;
  }

  /*----------------------------------todolist section---------------------------------*/
  .feed .todolist_web{
    width: 150px;
    height: 150px;
  }
  
  .feed .todolist_web img{
    width: 150px;
    height: 150px;
  }

  .feed .todolist_web img:hover{
    background-color:var(--l-background-color);
    transition: 3s;
  }
  .feed .todolist_web:hover{
    height: 180px;
  }
  .feed .todolist_web .todolist_web_title{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--middle-size);
  }
  .feed .todolist_web .todolist_web_title:hover{
    width: 100%;
    border-bottom: 0;
  }
  
  .feed .todolist_web .todolist_web_title:hover img{
    background-color: var(--l-background-color);
  
  }
  .feed .todolist_web .todolist_web_subtitle{
    display: none;
 }
  /*---------------------------------paintbrush section------------------------------*/
  .feed .painting_web{
    width: 150px;
    height: 150px;
  }
  
  .feed .painting_web img{
    width: 150px;
    height: 150px;
  }

  .feed .painting_web img:hover{
    background-color:var(--l-background-color);
    transition: 3s;
  }
  .feed .painting_web:hover{
    height: 180px;
  }
  .feed .painting_web .painting_web_title{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--middle-size);
  }
  .feed .painting_web .painting_web_title:hover{
    width: 100%;
    border-bottom: 0;
  }
  
  .feed .painting_web .painting_web_title:hover img{
    background-color: var(--l-background-color);
  
  }
  .feed .painting_web .painting_web_subtitle{
    display: none;
 }
}
