:root{
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color: #5a6846;
  --body--background-color:#ededed;
  --grey-color:#bcbcbc;

  --v-small-size: 3px;
  --small-size:8px;
  --middle-size:15px;
  --big-size:23px;
  --v-big-size:30px;
  --so-big-size:37px;
}

body{
  margin: 0;
  font-family: Source Sans Pro;
  background-color: var(--body--background-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

/*---------------navbar section---------------*/
.navbar{
  background: #3d4b68;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
}

.navbar_logo{
  font-size: 30px;
  color: var(--text-color);
}

.navbar_logo i{
  color: var(--accent-color);
  padding-right: 5px;
}

.navbar_menu{
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li{
  padding: 8px 12px;
}

.navbar_menu li:hover{
  background-color: var(--accent-color);
  border-radius: 4px;
}

.navbar_icons{
  list-style: none;
  color:var(--text-color);
  display: flex;
  padding-left: 0;
}

.navbar_icons li{
  padding: 8px 12px;
  font-size: 20px;
}

.navbar_toggle{
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--accent-color);
}

/*-------------profile_section----------------*/
.profile{
  display:flex;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 1px solid var(--grey-color);
  padding-bottom: 7%;
}

.profile_title li{
  display:flex;
  list-style:none;
  flex-direction: column;
}

.profile_title .profile_title_photo{
  display:flex;
  padding-left: 100px;
} 
.profile_title .profile_title_photo img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  outline: 2px solid var(--background-color);
}

.profile_subtitle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 3%; 
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
}

.profile_subtitle .profile_subtitle_intro{
 padding-top: 20px;
}

.profile_subtitle .profile_subtitle_intro div{
  font-size: var(--middle-size); 
  padding-top: 10px; 
  
}
.profile_subtitle .profile_subtitle_intro div i{
 padding-right: 10px;
}

.profile_subtitle .profile_subtitle_id{
  font-size:var(--v-big-size);
  font-weight: bold;
  justify-content: center;
}
.profile_subtitle .profile_subtitle_id i{
  padding-right: 10px;
]

/*--------title_menu section-------------*/
.title_menu .title_menu_button{
 
 
}


/*---------------media section---------------*/
@media screen and (max-width: 768px){
  .navbar{
    flex-direction: column;
    align-items: flex-start;
    padding:8px 24px;
  }

  .navbar_menu{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li{
    width: 100%;
    text-align: center;
  }

  .navbar_icons{
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar_toggle{
    display:  block;
  }

  .navbar_menu.active,
  .navbar_icons.active{
    display: flex;
  }

  
  .profile_title .profile_title_photo img{
    width: 100px;
    height: 100px;
   
  }
  .profile_title .profile_title_photo{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
  }
  
}
