:root{
  --text-color: #f0f4f5;
  --background-color: #263343;
  --l-background-color: #4f5c6e;
  --accent-color: #9ea56d;
  --body--background-color:#ededed;
  --grey-color:#bcbcbc;
  --d-grey-color:#757575;

  --v-small-size: 3px;
  --small-size:8px;
  --middle-size:15px;
  --big-size:23px;
  --v-big-size:30px;
  --so-big-size:37px;
}

body{
  margin: 0;
  font-family: Source Sans Pro;
  background-color: var(--body--background-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

section{
  margin-left: 5%;
  margin-right: 5%;

}

/*---------------navbar section---------------*/
.navbar{
  background: #3d4b68;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
}

.navbar_logo{
  font-size: 30px;
  color: var(--text-color);
}

.navbar_logo a:hover{
  color: var(--accent-color);
}

.navbar_logo i{
  color: var(--accent-color);
  padding-right: 5px;
}



.navbar_menu{
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li{
  padding: 8px 12px;
}

.navbar_menu li:hover{
  background-color: var(--accent-color);
  border-radius: 4px;
}

.navbar_icons{
  list-style: none;
  display: flex;
  padding-left: 0;
}

.navbar_icons li a{
  color: var(--accent-color);
}

.navbar_icons li a:hover{
  color: var(--text-color);
}

.navbar_icons li{
  padding: 8px 12px;
  font-size: 20px;
}

.navbar_toggle{
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--accent-color);
}

/*-------------profile_section----------------*/
.profile{
  display:flex;
  margin-top: 3%;
  border-bottom: 1px solid var(--grey-color);
  padding-bottom: 5%;
}

.profile_title li{
  display:flex;
  list-style:none;
  flex-direction: column;
}

.profile_title .profile_title_photo{
  display:flex;
  padding-left: 100px;
} 
.profile_title .profile_title_photo img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  outline: 2px solid var(--background-color);
}

.profile_subtitle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 3%; 
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
}

.profile_subtitle .profile_subtitle_intro{
 padding-top: 20px;
}

.profile_subtitle .profile_subtitle_intro div{
  font-size: var(--middle-size); 
  padding-top: 10px; 
  color: var(--l-background-color);
}

.profile_subtitle .profile_subtitle_intro div i{
 padding-right: 10px;
}

.profile_subtitle .profile_subtitle_id{
  font-size:var(--v-big-size);
  font-weight: bold;
  justify-content: center;
  color: var(--background-color);
}

.profile_subtitle .profile_subtitle_id i{
  padding-right: 10px;
}

/*--------title_menu section-------------*/
.title_menu .title_menu_button{
  display: flex;
  list-style: none;
  justify-content: center;
  border-bottom: 1px solid var(--grey-color);
  padding-bottom: 2%;
}

.title_menu .title_menu_button .title_menu_project{
  margin-left: 15%;
  margin-right: 15%;
  font-weight: bold;
}

.title_menu .title_menu_button .title_menu_project button i{
  padding-right: 10px;
}


.title_menu .title_menu_button .title_menu_project button{
  border:0;
  outline:0;
  font-size: var(--big-size);
  color: var(--l-background-color);

}

.title_menu .title_menu_button .title_menu_project button:hover{
  background-color: var(--accent-color);
  border-radius: 4px;
  color: var(--text-color);
}


.title_menu .title_menu_button .title_menu_code{
  margin-left: 15%;
  margin-right: 15%;
  font-weight: bold;
}

.title_menu .title_menu_button .title_menu_code button i{
  padding-right: 10px;
}


.title_menu .title_menu_button .title_menu_code button{
  border:0;
  outline:0;
  font-size: var(--big-size);
  color: var(--l-background-color);
}

.title_menu .title_menu_button .title_menu_code button:hover{
  background-color: var(--accent-color);
  border-radius: 4px;
  color: var(--text-color);
}


/*---------------media section---------------*/
@media screen and (max-width: 768px){
  .navbar{
    flex-direction: column;
    align-items: flex-start;
    padding:8px 24px;
  }

  .navbar_menu{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li{
    width: 100%;
    text-align: center;
  }

  .navbar_icons{
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar_toggle{
    display:  block;
  }

  .navbar_menu.active,
  .navbar_icons.active{
    display: flex;
  }

  .profile{
    margin-top: 0;
    padding-bottom:7px;
    padding-top:1px;
  }
  .profile .profile_title{
    margin-top: 2px;
  }

  .profile .profile_subtitle{
    margin-top: 2px;
  }

  .profile

  .profile_title .profile_title_photo img{
    width: 120px;
    height: 120px;
  }

  .profile_title .profile_title_photo{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding-left: 5px;
    padding-top: 20%;
  }

  .profile_subtitle .profile_subtitle_intro div{
    font-size: 12px;
  }

  .profile_subtitle .profile_subtitle_id{
    font-size:var(--middle-size);
    padding-top: 3px;  
  }

  .profile_subtitle .profile_subtitle_intro{
    padding-top: 1px; 
  }

  .title_menu .title_menu_button .title_menu_code{
    margin-left: 5%;
    margin-right: 10%;
  }

  .title_menu .title_menu_button .title_menu_code button{
    font-size: var(--middle-size);
  }

  .title_menu .title_menu_button .title_menu_project{
    margin-left: 10%;
    margin-right: 5%;
  }

  .title_menu .title_menu_button .title_menu_project button{
    font-size: var(--middle-size);
  }
  
}
